* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html.light {
  --background-color: #ffffff;
  --text-color: #171717;
  --text-secondary: #6c757d;
  --text-highlight: #007bff;
}

html.dark {
  --background-color: #121212;
  --text-color: #ededed;
  --text-secondary: #aaaaaa;
  --text-highlight: #66b2ff;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 10px 40px;
  border: 1px solid green;
  flex: 1;
  display: flex;
  flex-direction: column;
}

// .wrapper {
//   padding: 10px 40px;
// }


a {
  color: var(--text-color);
  text-decoration: none;

  &:hover,
  :active {
    color: var(--text-highlight);
  }
}

main {
  flex-grow: 1;
}

footer {
  height: 40px;
}