.navbar__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.active {
    background-color: var(--text-highlight);
    color: #fff;
}

.nav__toggles {
    display: flex;
    gap: 10px;
    align-items: center;
}