.navbar__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
    font-size: 1.3rem;
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 10px;
    margin: 1px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    color: var(--text-color);
    border: 1px solid var(--text-highlight);
    margin: 0px;
}

.active {
    background-color: var(--text-highlight);
    color: var(--text-color);
}

.nav__toggles {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 1200px) {
    .nav {
        font-size: 1.1rem;
        padding: 10px 5px;
        gap: 10px;
    }

}

@media (max-width: 768px) {
    .nav {
        font-size: 1.1rem;
        padding: 10px 5px;
        gap: 10px;
    }

}