.portfolio__title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.portfolio__item {
    max-width: 30vw;
    // cursor: pointer;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}