.portfolio__title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.portfolio-item {
    max-width: 30vw;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--subbackground-color);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    title {
        font-size: 1.5rem;
        margin: 10px 0;
    }
}

.portfolio-item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    // background-color: var(--subbackground-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}